@import "{{ site.theme }}";

img.clip-circle {
  width: 120px;
  margin: 0px;
}

.clip-circle {
  clip-path: circle(60px at center);
}

.filter {
  filter: sepia(0.3);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 35px;
}

body {
  margin: 60px auto;
  font-family: 'Roboto', 'Arial', 'Sans-Serif';
  width: 70%;
  background-color: transparent;
}

nav ul, footer ul {
  font-family: 'Roboto', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: normal;
}

nav ul li, footer ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

h1 {
}

p {
  line-height: 1.4em;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.rss-subscribe {
  font-size: 12px;
}

.icon--linkedin {
}

.cv-toc {

}

.cv-all-contents {
}


.full-cv-cont {
  font-size: 0.7em;
  ul {
    list-style: none;
  }
  //display: grid;
  //
  //grid-template-columns: auto 1fr;
  //grid-template-rows: 1fr;
  //grid-template-areas: "toc  everything";

  .to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
  }
}

.cv-container {
  background-color: #fbfbfb;
  padding: 15px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 14px;
  h1 {
   font-size: 18px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 2px;
    color: #5e2f2f;
  }

  hr {
    margin-bottom: 7px;
    border-top: 1px solid #9e4653;
  }

  p {
    margin-bottom: 5px;
  }

  section {
    margin-bottom: 15px;
  }

  margin-bottom: 30px;
}

.short {
}

.cv-head {
  font-size: 0.9em;
  padding: 15px;
  //border: solid #9e4653 1px;
  background-color: white;
  border-radius: 5px;
  p {
    text-align: left;
    margin-bottom: 5px;
  }
}


.cv-summary {

  p {
    text-align: center;
  }
}

.cv-skills {

  //font-size: 0.9em;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #ddd;
  }

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #555555;
  }
}

.cv-work {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table td {
    border: 1px solid #bbb;
    padding: 8px;
  }
}